name: Lint and Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"
  workflow_call: # Triggerable from other workflows
  workflow_dispatch: # Triggerable manually
  schedule:
    - cron:  '45 14 10 * *'  # Every 10th of each month at 14:45

jobs:
  main:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]

    steps:
      - name: Set git to use LF
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf
      - uses: actions/checkout@v6
      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install the project
        run: uv sync --locked --all-extras --dev
      - name: Linting (ruff)
        run: uv run ruff check src/
      - name: Type checking (mypy)
        run: uv run mypy src/
      - name: Format checking (ruff)
        run: uv run ruff format --check
      - name: pytest
        run: uv run pytest --cov
